/************************************
Table of Contents
Section 1: CSS Reset
Section 2: Variables
Section 3: Fonts & Typography
Section 4: Header
  Section 4.1: Mobile Side Dropdown
  Section 4.2: Criss-Cross Hamburger Menu
Section 5: Main
  Section 5.1: Index Page
  Section 5.2: About Page
  Section 5.3: Services Page
  Section 5.4: Contact Page
Section 6: Footer
Section 7: Misc Code for testing
************************************/

/************************************
Section 1: CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) 
************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

/************************************
Section 2: Variables
************************************/
:root{
    --darkfont-bg:#26272b;
    --darkfont-bg2: rgb(51, 53, 61);
    --lightfont-bg:white;
    --greyfont-bg: #818a91;
    --litegreyfont-bg: #fafafb;
    --litegreyfont2-bg: #d6d6d9;
    --hyperlinkclr: #3366cc;
    --sagegreen:  #9CAF88;
    --litegreen:  #EEFCDE;
    --darkgreen:  #546344;
    --lightpurple : #AB89B0;
    --darkpurple : #5E3A63;
  }

/************************************
Double Split Complementary
#5C85DB
#DB7A67
#50C6DB
#DBAA3B
#46DB9F
************************************/

/************************************
Section 3: Fonts & Typography
************************************/
/* font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;

*/
html *{
    scroll-behavior: smooth;
    font-size: 14px;
}
body {
  background-color: #FFF;
  color: #777;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  
}

/************************************
Section 4: Header
************************************/
nav {
  align-items: center;
  background-color: var(--litegreyfont-bg);
  box-shadow: none;
  color:var(--darkfont-bg);
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;
  z-index: 10000;
  top: 0px;
  position: fixed;
}

.logo {
    padding-left: 30px;
    font-size: 1.5rem;
    color:var(--darkfont-bg);
    text-decoration: none;
}

.Top-Content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
.Top-Menu a, .Top-Menu i, .dropdown{
    color: inherit;
    text-decoration: none;
    padding: 0px 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.Top-Menu a:hover, .Top-Menu i:hover, .logo:hover, .dropdown button:hover {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
  
/************************************
Section 4: Header
  Section 4.1: Mobile Side Dropdown
************************************/
.Side-Nav {
    display: none;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.Side-Menu {
    background-color:var(--lightfont-bg);
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    padding-top: 12px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    box-shadow: 0px 8px 3px 1px rgba(0,0,0,0.2);
}

.side {
  position: initial;
  z-index: 0;
  box-shadow: none;
}

.Side-Menu a, .Side-Menu button {
    color: var(--darkfont-bg);
    padding-left: 65px;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.Side-Menu a:hover, .dropdown button:hover  {
    font-weight: bold;
    cursor: pointer;
    color: var(--sagegreen);
    text-decoration: underline;
}

/************************************
Section 4: Header
  Section 4.2: Criss-Cross Hamburger Menu
************************************/
 .menu-btn {
    z-index: 2;
    padding-right: 20px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
 }

/* Styling the hamburger lines */
.btn-line {
    width: 28px;
    height: 3px;
    background-color: var(--darkfont-bg);
    transition: all 0.25s ease-out;
    border-radius: 5px;
}

/* Styling the three lines to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
    transform: translateY(8px) rotateZ(-45deg);
    background-color: var(--darkfont-bg);
}
.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
    transform: translateY(-8px) rotateZ(45deg);
    background-color: var(--darkfont-bg);
}

/************************************
Section 5: Main
************************************/
#weekly-recipe{
  margin: 0 10%;
}
.recipe-new-content {
  padding: 40px 0px;
}
.divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 19px;
    margin: 20px 10%;
    color: var(--lightpurple);
    letter-spacing: 4px;
    text-transform: uppercase;
}
.divider h5{
  position: relative;
}
.divider h5:before {
  content: "";
  display: block;
  width: 425px;
  height: 1px;
  background-color: var(--greyfont-bg);;
  top: 15px;
  left: -435px;
  position: absolute;
}
.divider h5:after {
  content: "";
  display: block;
  width: 425px;
  height: 1px;
  background-color: var(--greyfont-bg);
  top: 15px;
  right: -435px;
  position: absolute;
}

.recipe-row {

  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(1, 1fr); 
  /*grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); */
  row-gap: 20px;
  column-gap: 10px;
  height: 100%;
  width: 1100px;
  margin: 0 auto;
  /*
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    */
}

.main-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0px; 
}
.main-about-content {
    margin: 0px 20%;
}
.about-img {
  object-fit: cover;
  width: 800px;
  height: 500px;
}
/************************************
Section 5: Main
************************************/
.half-card {
  background-color: var(--litegreyfont-bg);
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(1, 1fr); 
  row-gap: 20px;
  column-gap: 0px;
  height: 500px;
  width: 900px;
  margin: 0 auto;
  box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 20%);
}
.pyb-1 {
  padding-bottom: 10px;
}
.pyb-2 {
  padding-bottom: 20px;
}
.weekly-recipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 30px;
}
.weekly-recipe h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.weekly-recipe h1 {
  font-weight: bold;
}
.hollow-button {
  margin-top: 20px;
}
.hollow-button a{
  background-color: transparent;
  color: var(--darkfont-bg);
  border: 1px solid var(--darkfont-bg);
  padding: 16px 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hollow-button a{
  text-decoration: none;
  color: var(--darkfont-bg);
}
.hollow-button a:hover{
  background-color: var(--darkfont-bg);
  color: var(--lightfont-bg);
  border: 1px solid var(--darkfont-bg);
}

.weekly-recipe-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.half-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }
  .half {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .half-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    z-index: 4;
  }
  .half-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.website-header {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
}
.website-header h1 {
  padding-bottom: 15px;
  font-size: 56px;
}
.website-header h6 {
  font-family: 'Poppins', sans-serif;
}
.cta-section{
  background-color: var(--lightpurple);
  width: 100%;
}
.subscribe-cta{
  color: var(--lightfont-bg);
  width: 800px;
  height: 200px;
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(1, 1fr); 
  row-gap: 20px;
  column-gap: 0px;
  margin: 0 auto;
}
.subscribe-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.subscribe-content h3 {
  font-weight: bold;
  font-size: 2.25rem;
}
.subscribe-content h6 {
  color: var(--darkpurple);
  font-family: 'Pacifico', cursive;
}
.sub {
  width: 400px;
}
.subscription-confirmation {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscription-header {
  padding-top: 100px;
  padding-bottom: 25px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Pacifico', cursive;
}
.subscription-header h1 {
padding-bottom: 15px;
font-size: 56px;
}
.subscribe-button-block {
  margin:10px 0px;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-button{
  background-color: var(--lightfont-bg);
  color: var(--sagegreen);
  border: 1px solid var(--sagegreen);
  padding: 16px 60px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.subscribe-button:hover{
  background-color: var(--sagegreen);
  color: var(--lightfont-bg);
  border: 1px solid var(--sagegreen);
}

.recipe {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-img {
    width: 500px;
    height: 600px;
}
.recipe-img img {
    object-fit: cover;
}
.recipe-content {
    margin: 15px 0px;
    text-align: center;
}
.recipe hr {
    width: 400px;
    align-self: center;
}
.recipes-button-block {
  margin:40px 0px;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipes-button{
  background-color: var(--sagegreen);
  color: var(--lightfont-bg);
  padding: 16px 40px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.recipes-button:hover{
  background-color: var(--lightfont-bg);
  color: var(--sagegreen);
  border: 1px solid var(--sagegreen);
}

.link { 
    display: inline;
    margin-bottom: 10px;
    z-index:1;
  }
.link a{ 
    padding-right: 20px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.link:hover, .link a:hover { 
    cursor: pointer;
    color: var(--sagegreen);
}
.link a:hover { 
    color: var(--sagegreen);
}
.link:hover > .link-arrow { 
    transition: transform 0.3s ease-out;
    transform: translateX(10px);
    color: var(--sagegreen);
  
}
.link:not( :hover ) > .link-arrow { 
    transition: transform 0.3s ease-out;
    transform: translateX(-10px);
}
.un {
  display: inline-block;
}

.un::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: var(--sagegreen);
  transition: 300ms;
}

.un:hover::after {
  width: 110%;
}

.pagination {
    display: inline-block;
    justify-content: center;
    margin-top: 40px;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
  
.pagination a.active {
    background-color: var(--sagegreen);
    color: white;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}

/************************************
About
************************************/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.about p {
  line-height: 1.5rem;
  width: 800px;
  font-size: 1rem;;
}
.about-me {
  margin-bottom: 50px;
}
/************************************
Inline Form
************************************/
/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
  color:var(--bluefont-bg);
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 60px 5px 0;
  padding: 12px;
  background-color: #fff;
  border: 1px solid var(--litegreyfont2-bg); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  width: 300px;
}

/* Style the submit button */
.form-inline button {
  background-color: var(--darkpurple);
  color: var(--lightfont-bg);
  border: none;
  height: 45px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  margin: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
}

.form-inline button:hover {
  background-color: transparent;
  color: var(--darkpurple);
  border: 1px solid var(--darkpurple);
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

/************************************
Contact Form
************************************/
#form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-info {
  width: 800px;
}

.form-info label{
  color:var(--sagegreen);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--litegreyfont2-bg); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--darkfont-bg);
  color: var(--lightfont-bg);
  border: none;
  height: 45px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  white-space: nowrap;
  margin: 10px 0px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--litegreyfont-bg);
  color: var(--darkfont-bg);
  border: 1px solid var(--darkfont-bg);
}

/* Add a background color and some padding around the form */
.form-info {
  background-color: var(--lightfont-bg);
  padding: 20px;
  box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.2); /* offset-x | offset-y | blur-radius | spread-radius | color */
  height: 700px;
}

.contact-button{
  margin-top: 10px;
  background-color: var(--sagegreen);
  color: var(--lightfont-bg);
  border: 1px solid var(--sagegreen);
  padding: 12px 35px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.contact-button:hover{
  background-color: var(--lightfont-bg);
  color: var(--sagegreen);
  border: 1px solid var(--sagegreen);
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#contact-container{
  width: 100%;
  height: 100%;
}
.full-section {
  height: 100vh;
}

/************************************
Filter Buttons
************************************/




/************************************
Section 6: Footer
************************************/
footer {
    margin-top: 60px;
    background-color:var(--sagegreen);
    color: var(--lightfont-bg);
  }
  
  footer h6 {
    color: var(--lightfont-bg);
    text-transform: uppercase;
    letter-spacing:2px;
  }
  
  .footer-top {
    margin: 0px 25px;
    padding: 40px 20px 20px 20px; /* top | right | bottom | left */
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer-summary {
    height: 100%;
    width: 60%;
    min-width: 250px;
    max-width: 600px;
  }
  .about-summary{
    min-width: 200px;
  }
  
  .about-summary p{
    line-height: 1.5;
  }
  #about-text-cta {
    min-width: 350px;
  }
  
  .site-map {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0px 30px;
  }
  
  .tab-header {
    text-align: center;
  }
  .footer hr{
    border-top-color:var(--greyfont-bg);
    opacity:0.5
  }
  .center-line
  {
    width:70%;
    margin: 0 auto;
  }
  #about-button-center {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .footer-links {
    margin-right:100px;;
    list-style:none;
    display: inline;
  }
  
  .footer-links a {
    display:block;
    color:var(--lightfont-bg);
    text-decoration: none;
  }
  
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color: var(--darkgreen);
    text-decoration:none;
  }
  
  .social-icons {
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    text-align:left;
  }
  .social-icons li {
    display:inline-block;
    margin-bottom:4px;
    margin-right:10px;
  }
  
  .social-icons a {
    /*background-color:var(--darkfont-bg2);*/
    border: 1px var(--lightfont-bg) solid;
    color:var(--lightfont-bg);
    display:inline-block;
    line-height:34px;
    height:34px;
    width:34px;
    font-size: .75rem;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color: var(--lightfont-bg);
    background-color: var(--darkgreen);
  }
  
  .social-icons a:hover
  {
    background-color:var(--darkgreen);
  }
  
  .footer-bottom {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copyright-text {
    font-size: .75rem;
  }
  
  .copyright-text a{
    text-decoration: none;
    color: var(--lightfont-bg);
    font-size: .75rem;
  }
  

/************************************
use for finding oversized eleemnts
************************************/
/*
body * { outline: 1px solid red; }
*/


@media only screen and (max-width: 1500px) {
  .half-container {
    flex-direction: column;
  }
  .half {
    flex-direction: column;
    height:50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


@media only screen and (max-width: 1200px) {
  .divider h5:before {
    width: 150px;
    left: -160px;
  }
  .divider h5:after {
    width: 150px;
    right: -160px;
  }
  .recipe-row, .subscribe-cta {
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    width: 100%;
  }
  .subscribe-cta {
    height: 300px;
    row-gap: 0px;
  }
  .sub{
    width: 100%;
  }
  .form-inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-inline input {
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
  .half-card {
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    height: 900px;
    width: 80%;
  }
  .weekly-recipe-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
  .weekly-recipe {
    height: 400px;
    padding: 0px 20px;
}
}

@media only screen and (max-width: 900px) {
.half-img{
    height: 300px;
    width: 300px;
  }
  .half-img-container{
    margin-top: 40px;
  }
  .footer-top {
    flex-direction: column;
    height: fit-content;
  }
  .site-map {
    margin: 20px 0px 0px 0px; /* top | right | bottom | left */
  }
  .divider h5:before {
    width: 50px;
    left: -62px;
  }
  .divider h5:after {
    width: 50px;
    right: -62px;
  }
  .recipe-img {
    width: 300px;
    height: 300px;
}
.recipe hr {
  width: 300px;
}
.recipe-container {
  width: 100%;
}
  .about-img {
    width: 400px;
    height: 250px;
}
}
/* Phone Styling */
@media only screen and (max-width: 595px) {
  .Top-Menu,.Top-Menu a, .Top-Menu .dropdown{
    display:none;
  }
  .Side-Nav {
    display: flex;
}
  .menu-btn {
    display: flex;
  }
  .site-map {
    flex-direction: column;
  }
  .footer-links{
    padding-bottom: 20px;
  }
  .about-img {
    width: 300px;
    height: 200px;
  }
}